<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Missions to Mars</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>

<body>
  <div class="container">
    <!--Jumbo-->
    <div class="jumbotron text-center">
      <h1 class="">Mission to Mars</h1>
      <p><a class="btn btn-primary btn-md" href="/scrape" role="button">Take Off!</a></p>
    </div>
    <!--Progress Bar-->
    <div class="bs-component">
        <div class="progress progress-striped active">
          <div class="progress-bar" style="width: 75%"></div>
        </div>
    </div>
    <!-- Mars News -->
    <div class="row">
      <div class="col-md-12">
        <h2 class="heading">Mars Latest News</h2>
        <div class="bs-component">
            <div class="list-group">
              {% for article in mars_col['news_articles'][:1] %}
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">{{ article['title'] }}</h4>
                <p class="list-group-item-text">{{ article['paragraph'] }}</p>
              </a>
              {% endfor %}
            </div>
          </div>
      </div>
    </div>

    <!-- Mars Image and Facts -->
    <div class="row"> 
      <div class="col-md-7"> 
          <h2 class="heading">Featured Mars Image</h2>
          <img src=" {{ mars_col.featured_image }} " alt="Featured Image">
      </div> 
      <div class="col-md-5">
          <h2 class="heading">Mars Facts</h2>
          <div class="bs-component"> {{ mars_col.facts|safe }} </div>
      </div>
    </div>
    <br>
    <br>
    <!--Hemispheres-->
    <div class="row">
      {% for hemi in mars_col.hemispheres %}
      <div class="col-md-3">
        <div class="bs-component">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">{{ hemi['title']}}</h3>
            </div>
            <div class="panel-body">
              <a href="{{hemi['img_url']}}" target="_blank">
                <img src="../static/Resources/hemi0.png" alt="hemisphere1">
              </a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</body>

</html>

