<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Missions to Mars</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1 class="">Mission to Mars</h1>
      <p><a class="btn btn-primary btn-md" href="/scrape" role="button">Take Off!</a></p>
    </div>

    <!-- Mars News -->
    <div class="row">
      <div class="col-md-12">
        <h4 class="heading">Mars News</h4>
        <h5> {{ mars_collections.news_articles[0]['title'] }}</h5>
        <p> {{ mars_collections.news_articles[0]['paragraph'] }} </p>
      </div>

    </div>

  </div>
</body>

</html>

